/*Global*/
body{
    margin:0;
    padding 0;
    font-family: sans-serif;
    background-color: #E8E3DD;
}

#container{
    width: 100%;
    margin: 0;
    padding: 0;
}

.clearfix {
    overflow: auto;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/*Font*/



a {
    text-decoration: none;
}

/*Header */
#banner{
    width: 100%;
    margin: 0;
    padding: 0;
}

#header{
    width: 100%;
    margin: 0;
    padding: 0;
}

/*Nav Bar*/
#navbar{
    width: 90%;
    background-color: #871C16;
    min-height: 30px;
    padding: 0% 5%;
    float: left;
    min-height: 30px;
    font-size: 12px;
    vertical-align: middle;
    
}

nav ul {

    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.nav{
    float: left;
}

ul.soc{
    float:right;
}

li.nav{
    
    float: left;
}

li.soc{
    float: right;
    padding-right: 0px;
}

nav li a{
    
    display: inline-block;
    text-align: center;
    padding: 2px 20px;
}

nav li a:hover{
    
    font-weight: 700;
    font-size: 13px;
}

nav a {
    
    color: #fff;
    
}

.socico{
    width: 14px;
}

#fb:hover{
    content: url(../img/fb_hover.png);
}

#ig:hover{
    content: url(../img/ig_hover.png);
}

#t:hover{
    content: url(../img/t_hover.png);
}

#g:hover{
   content: url(../img/g_hover.png); 
}

/*Body*/
#body{
    background-color: #E8E3DD;
    
}

/*Gallery*/
#gallery{
    min-height: 36%;
    background-color: #000;
    margin-top: 3%;
    padding-top: 13%;
}

.g1{
    background-image: url("../img/gallery1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.g2{
    background-image: url("../img/gallery2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.g3{
    background-image: url("../img/gallery3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.g4{
    background-image: url("../img/gallery4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.g5{
    background-image: url("../img/gallery5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.g6{
    background-image: url("../img/gallery6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#gallery h1{
    color: #fff;
    text-align: center;
}

#gallerynav{
    display: flex;
    justify-content: center;
}

#gnavimg{
    width: 150px;
}

/*Gallery Navigation */

.gallery_nav {
    background-color: #707070;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    float: left;
    border-radius: 10px;
    margin: 5px;
}

.active {
    background-color: #378E21;
}

/* Location Information */

#location_info{
    width: 100%;
    overflow: auto;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    
}

#location_info::after{
    content: "";
    clear:both;
    display: table;
}

#location_info p{
    line-height: .6;
    font-weight: 500;
}

#location_info #left{
  
    float: left;
    margin-right: 10%;
    text-align: center;
}

#location_info #right{
    float: left;
    text-align: center;
}

.info{
    background-color: #378E21;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 4px 18px;
}

/*Footer*/
footer{
    background-color: #871C16;
    color: #fff;
    padding-bottom: 10px;
    font-size: 14px;
}

footer a{
    color: #fff;
}

footer a:hover {
    font-weight: 600;
    font-size: 14px;
}

#footer_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#footer_content ul {
    list-style: none;
    overflow: hidden;
}

#footer_content li {
    padding: 5px;
}

#leftnav, #rightnav{
    float: left;
}



#newsletter {
   
    float: left;
   
    
}

#newsletter p{
    line-height: .3;
}

#email_input{
    border:none;
    padding: 6px;
    margin: 0;
    float: left;
    border-radius: 3px 0px 0px 3px;
}

#ok{
    background-color: #378E21;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 6px 10px;
    margin: 0;
    float: left;
    border-radius: 0px 3px 3px 0px;
}

.location{
    float: left;
    
    margin-top: 10px;
}

.location p{
    line-height: .5;
}

#copyright {
    width: 100%;
    text-align: center;
    font-size: 11px;
    
}


/*Placeholder.html*/

#comingsoon h1{
    text-align: center;
}

#comingsoon{
    margin-top: 17%;
    margin-bottom: 15%;
}



